In [1]:
import pandas as pd
df = pd.read_csv("output.txt", sep=",")
df.head()

,last_name,first_name,season,GP,MIN,PTS,FGM,FGA,FG%,3PM,...,REB,AST,TOV,STL,BLK,PF,FP,DD2,TD3,+/-
0,Adams,Steven,2019-20,55.0,27.0,11.0,4.6,7.8,58.9,0.0,...,9.4,2.5,1.5,0.8,1.1,2.0,30.3,20.0,0.0,2.3
1,Adebayo,Bam,2019-20,61.0,34.4,16.2,6.2,11.0,56.5,0.0,...,10.5,5.1,2.8,1.2,1.3,2.5,41.2,37.0,3.0,3.5
2,Aldridge,LaMarcus,2019-20,52.0,33.0,18.8,7.3,14.8,49.5,1.2,...,7.5,2.4,1.4,0.6,1.6,2.4,36.7,14.0,0.0,-2.6
3,Alexander,Kyle,2019-20,2.0,6.8,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.5,0.0,0.5,1.5,3.4,0.0,0.0,-5.0
4,Alexander-Walker,Nickeil,2019-20,41.0,12.2,5.1,1.9,5.5,33.9,1.0,...,2.0,1.8,1.0,0.3,0.2,1.1,10.5,0.0,0.0,-1.5

In [2]:
df['full_name'] = df['first_name']+" "+df['last_name']
df = df.drop(["last_name","first_name"], axis=1)
df.head()

,season,GP,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,...,AST,TOV,STL,BLK,PF,FP,DD2,TD3,+/-,full_name
0,2019-20,55.0,27.0,11.0,4.6,7.8,58.9,0.0,0.1,33.3,...,2.5,1.5,0.8,1.1,2.0,30.3,20.0,0.0,2.3,Steven Adams
1,2019-20,61.0,34.4,16.2,6.2,11.0,56.5,0.0,0.2,7.7,...,5.1,2.8,1.2,1.3,2.5,41.2,37.0,3.0,3.5,Bam Adebayo
2,2019-20,52.0,33.0,18.8,7.3,14.8,49.5,1.2,2.9,39.2,...,2.4,1.4,0.6,1.6,2.4,36.7,14.0,0.0,-2.6,LaMarcus Aldridge
3,2019-20,2.0,6.8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.5,0.0,0.5,1.5,3.4,0.0,0.0,-5.0,Kyle Alexander
4,2019-20,41.0,12.2,5.1,1.9,5.5,33.9,1.0,2.9,34.2,...,1.8,1.0,0.3,0.2,1.1,10.5,0.0,0.0,-1.5,Nickeil Alexander-Walker

In [3]:
df.to_csv(r'stats.csv')

In [4]:
dfplayer = pd.read_csv("players.csv")
dfplayer.head()

,Unnamed: 0,height_feet,position,first_name,last_name,team_name
0,0,6.0,G,Alex,Abrines,Oklahoma City Thunder
1,1,6.0,G,Jaylen,Adams,Milwaukee Bucks
2,2,7.0,C,Steven,Adams,Oklahoma City Thunder
3,3,6.0,C-F,Bam,Adebayo,Miami Heat
4,4,6.0,F,LaMarcus,Aldridge,San Antonio Spurs

In [5]:
dfplayer['full_name'] = dfplayer['first_name']+" "+dfplayer['last_name']
dfplayer = dfplayer.drop(["first_name","last_name"], axis=1)
dfplayer.head()

   Unnamed: 0  height_feet position              team_name          full_name
0           0          6.0        G  Oklahoma City Thunder       Alex Abrines
1           1          6.0        G        Milwaukee Bucks       Jaylen Adams
2           2          7.0        C  Oklahoma City Thunder       Steven Adams
3           3          6.0      C-F             Miami Heat        Bam Adebayo
4           4          6.0        F      San Antonio Spurs  LaMarcus Aldridge

In [6]:
dfplayer.to_csv(r'player.csv')

In [20]:
df_new = pd.merge(dfplayer, df, left_on='full_name', right_on='full_name' )
df_new.drop([r"Unnamed: 0"])

df_new

KeyError: "['Unnamed: 0'] not found in axis"

In [9]:
df_new.to_csv(r'finaldata.csv')